[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
torch = "==2.1.2+cpu"
numpy = "<2"
fastapi = "*"
uvicorn = "*"
pandas = "*"
faiss-cpu = "*"
scikit-learn = "*"
openpyxl = "*"
requests = "*"
python-dotenv = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
