# Torch CPU only (bắt buộc đặt trước sentence-transformers)
torch==2.1.2+cpu
numpy<2

# Web framework
fastapi
uvicorn

# Data & ML
pandas
faiss-cpu
scikit-learn
openpyxl

# AI API client
requests

# Env management
python-dotenv

# NLP model
sentence-transformers

# Chỉ định index cho bản CPU
--extra-index-url https://download.pytorch.org/whl/cpu